body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d0d0d0;
    color: #333;
}


/* about styling */
.about-us {
    background-color: #f9f9f9; 
    padding: 40px;
    margin: 90px auto;
    max-width: 800px;
    line-height: 1.8;
    color: #000000;
}


.about-us .section {
    padding-top: 20px;
    margin-top: 50px;
}
/*about text*/
.about-us h3 {
    font-size: 1.4rem;
    color: #000000;
    font-weight: bold;
    margin-bottom: 10px;
}

.about-us p {
    margin: 15px 0;
    color: #3c3c3c;
}








/* Responsive Design for Smaller Screens */
@media (max-width: 600px) {
    .about-us {
        padding: 20px;
        margin: 20px;
    }

    .about-us h2 {
        font-size: 1.8rem;
    }

    .about-us p,
    .about-us ul {
        font-size: 0.95rem;
    }
}
